<mat-card class="community-card">
    <mat-card-header>
        <mat-card-title>{{ community.name }}</mat-card-title>
        <mat-card-subtitle>{{ community.id }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>Город: {{ community.city }}</mat-card-content>
    <mat-card-content>Временная зона: {{ community.timeZone }}</mat-card-content>
    <mat-card-actions>
        <button mat-button>ДОБАВИТЬ</button>
        <button mat-button>ИЗМЕНИТЬ</button>
    </mat-card-actions>
</mat-card>