<form [formGroup]="formGroup">
    <mat-horizontal-stepper formArrayName="formArray"
                            linear>
        <mat-step label="Митап"
                  formGroupName="0"
                  [stepControl]="formArray.get([0])">
            <mat-list>
                <mat-list-item>
                    <mat-form-field>
                        <mat-select name="communityId"
                                    placeholder="Сообщество"
                                    formControlName="communityId"
                                    [(ngModel)]="meetup.communityId">
                            <mat-option *ngFor="let community of communities | async"
                                        [value]="community.id">
                                {{ community.name }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formArray.get([0,'communityId']).getError('required')">
                            Выбери сообщество
                        </mat-error>
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                    <mat-form-field>
                        <input matInput
                               name="meetupId"
                               placeholder="Идентификатор встечи"
                               formControlName="meetupId"
                               [(ngModel)]="meetup.id">
                        <mat-error *ngIf="formArray.get([0,'meetupId']).getError('required')">
                            Назначь идентификатор встречи
                        </mat-error>
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                    <mat-form-field>
                        <input matInput
                               name="meetupName"
                               placeholder="Идентификатор Встечи"
                               formControlName="meetupName"
                               [(ngModel)]="meetup.name">
                        <mat-error *ngIf="formArray.get([0,'meetupName']).getError('required')">
                            Укажи название встречи
                        </mat-error>
                    </mat-form-field>
                </mat-list-item>
            </mat-list>
            <div>
                <button type="button"
                        mat-button
                        matStepperNext
                        [disabled]="formArray.get([0]).invalid">Next</button>
            </div>
        </mat-step>
        <mat-step label="Площадка"
                  formGroupName="1"
                  [stepControl]="formArray.get([1])">
            <mat-list>
                <mat-list-item>
                    <mat-slide-toggle [checked]="needCreateVenue"
                                      (change)="changeNeedCreateVenue()">
                        Новая площадка
                    </mat-slide-toggle>
                </mat-list-item>
                <mat-list-item *ngIf="!needCreateVenue">
                    <mat-form-field>
                        <input matInput
                               name="venueId"
                               placeholder="Идентификатор площадки"
                               formControlName="venueId"
                               [(ngModel)]="meetup.venue.id">
                        <mat-error *ngIf="formArray.get([1,'venueId']).getError('required')">
                            Укажи идентификатор площадки
                        </mat-error>
                    </mat-form-field>
                </mat-list-item>
            </mat-list>
            <dot-venue-editor *ngIf="needCreateVenue"
                              [formGroup]="venueFormGroup"
                              [venue]="meetup.venue"></dot-venue-editor>
            <div>
                <button type="button"
                        mat-button
                        matStepperPrevious>Back</button>
                <button type="button"
                        mat-button
                        matStepperNext
                        [disabled]="formArray.get([1]).invalid">Next</button>
            </div>
        </mat-step>
        <mat-step>

        </mat-step>
    </mat-horizontal-stepper>
</form>
<!-- <form class="meetup-container">
    <mat-grid-list cols="3">
        <mat-grid-tile>
            <mat-list>
                <mat-list-item>
                    <mat-form-field>
                    
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                    <mat-form-field>
                       
                    </mat-form-field>
                </mat-list-item>

                <mat-list-item>
                
                </mat-list-item>
                <mat-list-item>

                </mat-list-item>
            </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
            <div>
                <dot-community [community]="communities | async | filterById : meetup.communityId"></dot-community>
                <dot-venue [venue]="(venues | async) | filterById : meetup.venueId"></dot-venue>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div>
                <dot-friend *ngFor="let friend of friends | async"
                            [friend]="friend"></dot-friend>
            </div>
        </mat-grid-tile>
    </mat-grid-list>


</form> -->