<form class="meetup-container">
    <mat-grid-list cols="1"
                   rowHeight="60px">
        <mat-grid-tile>
            <mat-form-field>
                <mat-select name="communityId"
                            placeholder="Сообщество"
                            [(ngModel)]="meetup.communityId">
                    <mat-option *ngFor="let community of communities | async"
                                [value]="community.id">
                        {{ community.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <input matInput
                       name="id"
                       placeholder="Идентификатор Встечи"
                       [(ngModel)]="meetup.id">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <input matInput
                       [matDatepicker]="datepicker">
                <mat-datepicker-toggle matSuffix
                                       [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker></mat-datepicker>
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
</form>