.meetup-container {
    /* max-width: 800px; */
    margin: 0 auto;
    /* height: 100%; */
}

.mat-form-field {
    width: 100%;
    padding: 0 4px;
}

/* .mat-grid-tile{
    height: 100%;
} */

.mat-list {
    width: 100%;
}
