<mat-list>
    <mat-list-item>
        <button mat-button
                [routerLink]="['/meetup']">
            <mat-icon>event</mat-icon>
            <span>Meetup</span>
        </button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button
                [routerLink]="['/venue']">
            <mat-icon>event</mat-icon>
            <span>Venue</span>
        </button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button
                [routerLink]="['/friend']">
            <mat-icon>business</mat-icon>
            <span>Friend</span>
        </button>
    </mat-list-item>
</mat-list>